<mat-card>
    <mat-card-title>
        One-Time Pad
    </mat-card-title>
    <mat-card-content>

        <mat-card class="cipher mat-elevation-z5" >
            <mat-card-title>
                Cifrado
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <mat-label>
                            Mensaje a cifrar
                        </mat-label>
                        <input matInput [(ngModel)]="messageToCipher" (ngModelChange)="cipher()">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Llave a usar para cifrar
                        </mat-label>
                        <input matInput [(ngModel)]="keyToCipher" (ngModelChange)="cipher()">
                    </mat-form-field>
                </div>
                <div class="container">
                    <div *ngIf="errorCipher; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <h1 class="errorMessage">
                                {{ errorMessageCipher}}
                            </h1>
                        </ng-template>
                        <ng-template #elseBlock>
                            <p>
                                El mensaje cifrado es:
                            </p>
                            <code>
                                {{ cipherMessage }}
                            </code>
                        </ng-template>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="decipher mat-elevation-z5">
            <mat-card-title>
                Descifrado
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <mat-label>
                            Mensaje a descifrar
                        </mat-label>
                        <input matInput [(ngModel)]="messageToDecipher" (ngModelChange)="decipher()">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Llave a usar para cifrar
                        </mat-label>
                        <input matInput [(ngModel)]="keyToDecipher" (ngModelChange)="decipher()">
                    </mat-form-field>
                </div>
                <div class="container">
                    <div *ngIf="errorDecipher; then thenBlockD else elseBlockD"></div>
                        <ng-template #thenBlockD>
                            <h1 class="errorMessage">
                                {{ errorMessageDecipher}}
                            </h1>
                        </ng-template>
                        <ng-template #elseBlockD>
                            <p>
                                El mensaje descifrado es:
                            </p>
                            <code>
                                {{ decipherMessage }}
                            </code>
                        </ng-template>
                </div>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>