.container{
    padding-top: 1em;
    padding-bottom: 1em;
    h2{
        margin: 0;
        padding: 0;
    }
    div{
        padding: 1em;
    }
}

pre{
    margin: 0;
    padding: 0;
    overflow: auto;
}